* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
  /* color: #090914; */
}

#root {
  margin: 0 auto;
  margin: 0;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

label {
  text-align: start;
}
